.memory-area p:hover, .storage-area p:hover, .delivery-area p:hover, input:hover{
    color: white;
    background-color: rgb(199, 192, 192);
    cursor: pointer;
}

hr{
    width: 50%;
    border-top: 1px solid black;
}

#apply-btn:hover{
    background-color: rgb(73, 73, 206);
}